@CHARSET "UTF-8";


/* sideBar */
#sideBar_shj{border: 2px solid red;
	width:350px;
	height:800px;
	display: inline-block;}


.textsize1 {
    width: 150px !important;
    height: 25px !important;
    border-radius: 7px !important;
   
    padding: 5px 10px;
    box-sizing: border-box;
}

.textsize2 {
    width: 150px !important;
    height: 25px !important;
    border-radius: 7px !important;
    margin-left: 15px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}
.datepicker-here{ width: 73.5px !important;
    height: 25px !important;
    border-radius: 7px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#form_1 ol li,#searchtable {list-style: none;
       margin: 7px 43px 7px 5px;
    font-size: 20px;
    font-weight: bold;
}
#form_1 ol { padding-inline-start: 0 !important;}
#searchtable tr td{margin:3px;} 
#searchtable tr {margin:3px 0;} 
#btn1 {      width: 96px;
    height: 34px;
    font-size: 18px;
    margin: 5% 0 6% 40%;
    background-color: #cc1d1d;
    /* position: relative; */
    /* top: 52px; */
    color: white;}
#searchtable input[type=text] {width: 20px; font-size: 10px !important;}

.btn_1{    width: 20px;
 color: white;
 background-color: #cc1d1d;}

#btn_sh{    position: relative;
    left: 126px;
    bottom: 48px;
    height: 40px;
    width: 50px;
    background-color: #cc1d1d;
    color: white;
    font-size: 16px;}
    
    
    
 #like_star span{position: relative;top: 29px; left: 20px;
    font-size: 20px; font-weight: bold; display: inline-block;"}
    
    