@CHARSET "UTF-8";


/* sideBar */
#sideBar_shj{	width:350px;
	height:1150px;
	display: inline-block;
	float: left;}


.textsize1 {
    width: 150px !important;
    height: 25px !important;
    border-radius: 7px !important;
   
    padding: 5px 10px;
    box-sizing: border-box;
}

.textsize2 {
    width: 72px !important;
    height: 25px !important;
    border-radius: 7px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}
.datepicker-here{ width: 73.5px !important;
    height: 25px !important;
    border-radius: 7px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#form_1 ol li,#searchtable {list-style: none;
       margin: 7px 43px 7px 5px;
    font-size: 20px;
    font-weight: bold;
}
#form_1 ol { padding-inline-start: 0 !important;}
#searchtable tr td{margin:3px;} 
#searchtable tr {margin:3px 0;} 

#searchtable input[type=text] {width: 20px; font-size: 10px !important;}

.table_text{
    font-size: 14px;}

    
 #like_star span{    position: relative;
    top: 24px;
    left: -5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 7%;
    display: inline-block;
    }



.house1,.house2{
width: 250px;
}

.house1{float: left;}

.house2{float: right;
margin-right: 350px;} 

#sideOp{
	height:70%;
	width: 100%;    margin-top: 8%;
}   

#btn1{    padding: 2%;
    width: 25%;
    margin-left: 46%;
    background-color: #cc1d1d;
    color: white;
    font-size: 14px;}
#sideOp span {font-size: 20px;
    font-weight: bold;padding: 5%;}
#sideOp table {margin: 8% 10%;}
#sideOp td{  padding :4%;}