@CHARSET "UTF-8";
/*id_비밀번호 찾기*/
*{list-style: none;}
/*
.id_pw_srh {
width:96%;
overflow:hidden;
}

.id_pw_srh li {
width:50%;
margin: auto;
}

.id_pw_srh li .srh_box {
padding:23px 41px 34px;
}
.id_pw_srh li .or {
	width:54%;
	padding:205px;
border-style:solid solid solid solid;
border-width:0px 0px 0px 0px;
border-color:#d8d8d8;
background:#fbfbfb;
}
.id_pw_srh li .or h2 {
margin-bottom:10px;
font-size:22px;
font-weight:900;
color:#da6700;
}
.id_pw_srh li .br h2 {
margin-bottom:10px;
font-size:22px;
font-weight:900;
color:#816950;
}
.id_pw_srh li .br {
	width:54%;
	padding:205px;
border-style:solid;
border-width:0px 0px 0px 0px;
border-color:#d8d8d8;
background:#fbfbfb;
}
.id_pw_srh li .srh_box .srh_top {
text-align:center;
font-size:20px;
}
.id_pw_srh li .srh_box .info {
margin-top:24px;
padding-top:20px;
border-top:1px dashed #d2d2d2;
}
.id_pw_srh li .srh_box .info label {
display:inline-block;
width:18%;
margin-right:12px;
vertical-align:middle;
font-weight:900;
font-size:13px;
color:#333333;
padding-left: 40px;
}
.id_pw_srh li .srh_box .info p {
margin-bottom:5px;
}
.id_pw_srh li .srh_box .info p input {
width:40%;
height:21px;
border:1px solid #d4d6d6;
}
.id_pw_srh li .or button {
display:block;
width:145px;
margin:26px auto 0;
padding:7px 0;
border:1px solid #cc1b1b;
background-color:#cc1b1b;
font-family:'Malgun Gothic','맑은 고딕';
color:#FFFFFF;
}
.id_pw_srh li .or button:HOVER{
	background-color: #991515;
	cursor: pointer;
}

.id_pw_srh li .br button {
display:block;
width:145px;
margin:26px auto 0;
padding:7px 0;
border:1px solid #cc1b1b;
background-color:#cc1b1b;
font-family:'Malgun Gothic','맑은 고딕';
color:#FFFFFF;
}
.id_pw_srh li .br button:HOVER{
	background-color: #991515;
	cursor: pointer;
}
*/
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 50%;
  position: relative;
  /*top: 95px;*/
  margin: auto;
    
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 26px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
  color:#cc1d1d;
  font-weight:bolder;
}

/* Create an active/current tablink class */

.tab button.active {
 /* background-color: #ccc;*/
  background-color:#cc1d1d;
  color:#fff;
  font-weight:bolder;
  font-weight:600;
}

/* Style the tab content */
.tabcontent {
  display: none;
 /* padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;*/
}
.tablinks{
	width: 50%;
}

.tab button.line{border-right:solid 1px #ccc;}

#ysh{
	border:1px solid red;
	padding: 10px;
	border-color:#d8d8d8;
}

/********************/
/*2018-12-11_추가한 css*/
/********************/

.cont_box{
 width:50%;
 margin:auto;
 background: #fbfbfb;
 border: 1px solid #ccc;
 border-top:none;
}

.srh_box{
padding:40px;
}

.srh_top{
font-size:20px;
text-align:center;
padding:50px;
letter-spacing: -1.5px;
}

.in_box{
width:65%;
margin:auto;
padding-bottom:50px;
}

.in_box form fieldset{
padding:30px 60px;
border: solid 1px #cccccc;

}

.in_box p label{
width:22%;
display:inline-block;
font-size: 15px;
letter-spacing: -0.5px;
font-weight: 600;
}

.in_box p input#id_name{
width: 71%;
height: 30px;
border: 1px solid #cccccc;
background-color:#fbfbfb;
padding-left:10px;
}

select.tel_box{
width:22%;
height:30px;
border:solid 1px #cccccc;
background-color:#fbfbfb;
padding-left: 3px;
}
input.tel_box{
width:20%;
height:28px;
vertical-align:top;
padding:0;
border:solid 1px #cccccc;
background-color:#fbfbfb;
padding-left:10px;
}

.in_box fieldset button.btn{
background-color: #cc1b1b;
border: none;
color: #fff;
font-family: 'Malgun Gothic','맑은 고딕';
width: 97%;
text-align: center;
padding: 14px;
margin: 10px 0;
font-size: 15px;
font-weight: 600;
cursor: pointer;
}

.in_box fieldset button.btn:hover{
background-color: #991515;
}


.in_box p input#pw_name, 
.in_box p input#pw_phone{
width: 71%;
height: 30px;
border: 1px solid #cccccc;
background-color:#fbfbfb;
padding-left:10px;
}



/* -----------수정자:김다현----------- */

.in_box1 p input#pw_1,#pw_2{
width: 71%;
height: 30px;
border: 1px solid #cccccc;
background-color:#fbfbfb;
padding-left:10px;
}

.in_box1{
width:32%;
margin:auto;
padding-bottom:50px;
}

.in_box1 form fieldset{
padding:30px 60px;
border: solid 1px #cccccc;

}

.in_box1 p label{
width:22%;
display:inline-block;
font-size: 15px;
letter-spacing: -0.5px;
font-weight: 600;
}

.in_box1 p input#id_name{
width: 71%;
height: 30px;
border: 1px solid #cccccc;
background-color:#fbfbfb;
padding-left:10px;
}


.in_box1 fieldset button.btn{
background-color: #cc1b1b;
border: none;
color: #fff;
font-family: 'Malgun Gothic','맑은 고딕';
width: 97%;
text-align: center;
padding: 14px;
margin: 10px 0;
font-size: 15px;
font-weight: 600;
cursor: pointer;
}

.in_box1 fieldset button.btn:hover{
background-color: #991515;
}



@media screen and (max-width: 700px) {
	
	}
