@CHARSET "UTF-8";
/*id_비밀번호 찾기*/
*{list-style: none;}
.id_pw_srh {
width:96%;
overflow:hidden;
}
.id_pw_srh li {
/* float:left; */
width:50%;
margin: auto;
}
.id_pw_srh li .srh_box {
padding:23px 41px 34px;
}
.id_pw_srh li .or {
	width:54%;
	padding:205px;
border-style:solid solid solid solid;
border-width:20px 1px 1px 1px;
border-color:#d8d8d8;
background:#fbfbfb;
}
.id_pw_srh li .or h2 {
margin-bottom:10px;
font-size:22px;
font-weight:900;
color:#da6700;
}
.id_pw_srh li .br h2 {
margin-bottom:10px;
font-size:22px;
font-weight:900;
color:#816950;
}
.id_pw_srh li .br {
	width:54%;
	padding:205px;
border-style:solid;
border-width:20px 1px 1px 1px;
border-color:#d8d8d8;
background:#fbfbfb;
}
.id_pw_srh li .srh_box .srh_top {
text-align:center;
font-size:13px;
}
.id_pw_srh li .srh_box .info {
margin-top:24px;
padding-top:20px;
border-top:1px dashed #d2d2d2;
}
.id_pw_srh li .srh_box .info label {
display:inline-block;
width:18%;
margin-right:12px;
vertical-align:middle;
font-weight:900;
font-size:13px;
color:#333333;
padding-left: 40px;
}
.id_pw_srh li .srh_box .info p {
margin-bottom:5px;
}
.id_pw_srh li .srh_box .info p input {
width:40%;
height:21px;
border:1px solid #d4d6d6;
}
.id_pw_srh li .or button {
display:block;
width:145px;
margin:26px auto 0;
padding:7px 0;
border:1px solid #e1660b;
background-color:#e27819;
font-family:'Malgun Gothic','맑은 고딕';
color:#FFFFFF;
}
.id_pw_srh li .br button {
display:block;
width:145px;
margin:26px auto 0;
padding:7px 0;
border:1px solid #6a5845;
background-color:#82705e;
font-family:'Malgun Gothic','맑은 고딕';
color:#FFFFFF;
}
#ysh{
	border:1px solid red;
	padding: 10px;
	border-color:#d8d8d8;
}

@media screen and (max-width: 700px) {
	
	}