@CHARSET "UTF-8";

#content_DY {
	 
    
    padding-left:15px;
    width: 77%;
    min-height: 500px;
    float: right;

	
}

h1 {
	/* border: 1px solid black; */
    border-left: 5px solid #cc1d1d;
    padding-left: 7px;
    color: #cc1d1d;
    margin-bottom: 70px;
    /* padding: 0px 0; */
    box-sizing: border-box;
    height: 46px;
}

table {
	border-collapse: collapse;
}

.ttd{
	text-align: center;
	border:1px solid #cccccc;
	padding : 10px;
}

.ttd2 {
	border:1px solid #cccccc;
	padding-left: 10px;
}



/*별점 매기기  */
.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}
/*별점 매기기 끝  */



textarea {
	width:1000px;
	height:300px;
	font-size: 1.8em;
}

/*placeholder글자색과 글자크기  */
textarea::placeholder {
  color: #666;
  font-size: 0.8em;
}
/*placeholder글자 끝 */


/*버튼  */
.review_button_DY {
	font-size: 1.2em;
    background-color: #cc1d1d;
    color: white;
    padding: 10px 30px;
    float: right;
    border:none;
    font-weight: bolder;
    margin: 10px;
}

.review_button_DY:hover{
	cursor: pointer;
	background-color: #991515;
}

/*버튼  */



















