@CHARSET "UTF-8";




#info_check {
	display: block;
	margin-top: 3%;
}


#info_check td{
	padding : 15px;
	width: 100px;
}




.td1 {
	width:200px;
	text-align: right;
	border-bottom: 1px solid #d7d7d7;
}

 input[type=text]{
	border:none;
	display: block;
}
 

/* text area속성 */
#cc{
	border:none;
	display: block;
}


b{
	font-size: 1.1em;
}

.td2{
	border-bottom: 1px solid #d7d7d7;
}

#sub_btn {
	font-size:1.2em;
	color:  #fff;
	border : none;
	background-color: #cc1d1d;
	font-weight: bold;
	padding : 10px;
	float: right;
}

#sub_btn:HOVER{
	background-color: #991515;
	cursor: pointer;
}


#back_btn{
	font-size:1.2em;
	color:  #fff;
	border : none;
	background-color: #bbbbbb;
	font-weight: bold;
	padding : 10px;
	cursor: pointer;
}

#back_btn:HOVER{
	background-color: #666666;
	cursor: pointer;
}



/* --------host_join3-------- */

#content {
	margin: 3%;
    min-height: 800px;
	position : relative;
	/* margin : -1000px 500px 500px 1300px; */
}

input[type=file]{

	display: none;
	
}

.label1{
	color: #666;
	cursor: pointer;
	text-align: center;
}


#photo_subject{
	
	width:100%;
	height: 60px;
}
	
	

.inner_img img{
	width::200px;
	height: 200px;
}

.inner_img{
	border: 1px solid #cccccc;

}

#up_btn td {
	padding : 10px;
	text-align: center;
	border: 1px solid #cccccc;
}

#review_img td{
	width:1000px;
	text-align: center;
}
